.quotes {
    position: relative;
    margin-bottom: 16px;
    background-image: url("../../../../assets/quote.png");
    background-size: 100% 100%;
    .content {
        min-height: 159px;
        text-align: center;
        display: flex;
        .body {
            flex: 1;
            font-size: var(--font-size-20);
            align-self: center;
            margin: 15px 15%;
        }
        .author {
            margin: 25px 0;
            font-size: var(--font-size-14);
        }
    }
    .btn {
        margin: var(--margin-size-16);
        padding: 1px 12px;
        height: 22px;
        line-height: 22px;
        font-size: var(--font-size-12);
        box-shadow: 0px 0px 6px 0px rgba(153, 153, 153, 0.36);
        border-radius: 11px;
        background-color: rgba(255, 255, 255, 0.9);
        color: var(--color-font-light);
    }
    .left {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .right {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
