.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .small {
    background-image: url("../../../../assets/logo.png");
    width: 41px;
    height: 65px;
  }
  .middle {
    background-image: url("../../../../assets/logo@2x.png");
    width: 83px;
    height: 130px;
  }
  .large {
    background-image: url("../../../../assets/logo@3x.png");
    width: 123px;
    height: 195px;
  }
  .tip {
    height: 21px;
    margin-top: 19px;
    font-size: var(--font-size-14);
    font-weight: 400;
    color: #dddfe6;
    line-height: 21px;
  }
}
