.comps-common-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative; 
  height: 44px;
  padding: 0 16px;
  font-size: var(--font-size-18);
  
  .navbar-prev {
    padding: 0 8px;
    cursor: pointer;
    font-size: var(--font-size-14);
  }

  .navbar-start {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }

  .menu-icon, .menu-text {
    color: var(--color-primary);
    cursor: pointer;
    padding: 0 8px;
  }

  .menu-text {
    margin-top: 2px;
    font-size: var(--font-size-14);
    line-height: var(--font-size-14);
  }

  .menu-text.disabled {
    color: var(--color-font-disabled);
    pointer-events: none
  }
}