.register {
    .inputbox {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .register-button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}