.faqgroup {
  margin: var(--margin-size-16) 0 var(--margin-size-24) 0;
  .faqgroup-title {
    font-size: var(--font-size-16);
    font-family: var(--font-family-medium);
    margin: var(--margin-size-8) var(--margin-right-size-12);
  }
}
