.talk-bubble {
  display: inline-block;
  position: relative;
	width: 100%;
	height: auto;
}

.from-other-color{
  background-color: white;
}

.talktext{
  padding: var(--padding-small);
  text-align: left;
  
  p {
    margin: 0 0;
  }
}


.from-other:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  top: -11px;
  bottom: auto;
  border: 11px solid;
  border-color: transparent transparent transparent white;
}

.from-me-color{
  background-color: #dddfe6;
}

.from-me:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  top: -11px;
  bottom: auto;
  border: 11px solid;
  border-color: transparent #dddfe6 transparent transparent;
}
